server:
  port: 9002

spring:
  datasource:
    url: jdbc:mysql://10.0.61.127:3306/sample
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
